$main-color: #3f51b5;

@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}
body {
    font-family: "Paperlogy", sans-serif;
    color: $main-color;
}
header {
    height: 80vh;
    width: 100%;
    background-image: url(../images/slide01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    nav {
        height: 80px;
        background-color: #fff;
        @include flex(space-between);
        padding: 0 3rem;
        .menu-icon {
            font-size: 1.5rem;
            cursor: pointer;
            @include tablet {
                display: none;
            }
            &:hover + ul {
                display: block;
            }
        }
        i {
            @include tablet {
                display: none;
            }
        }
        ul {
            display: none;
            width: 100%;
            position: absolute;
            top: 80px;
            left: 0;
            li {
                width: 100%;
                background-color: $main-color;
                color: #eee;
                padding: 0.5rem 0;
                a {
                    padding: 0 0.5rem;
                    width: 100%;
                }
                @include tablet {
                    width: 20%;
                    padding: 0;
                    background-color: #fff;
                    color: $main-color;
                }
            }
            @include tablet {
                position: static;
                width: 60%;
                @include flex();
            }
        }
    }
}
section#about {
    margin: 2rem;
    text-align: center;
    line-height: 1.5rem;
    article {
        margin: 3rem 0;
        h2 {
            font-size: 2rem;
            letter-spacing: 5px;
            @include tablet {
                width: 40%;
                text-align: left;
                border-right: 1px solid $main-color;
            }
        }
        p {
            @include tablet {
                width: 60%;
                text-align: left;
            }
        }
        @include tablet {
            width: 80%;
            padding: 3rem 0;
            margin: 0 auto;
            @include flex();
            gap: 2rem;
        }
    }
    ul {
        li {
            margin: 1rem 0;
        }
        @include tablet {
            width: 80%;
            margin: 0 auto;
            margin: 3rem auto;
            @include flex();
            grid-area: 2rem;
        }
    }
}
section#work {
    h2 {
        font-size: 2rem;
        letter-spacing: 5px;
        text-align: center;
        @include tablet {
            width: 80%;
            margin: 0 auto;
            text-align: left;
        }
    }
    article {
        display: grid;
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(4, 1fr);
        }
        a {
            background-repeat: no-repeat;
            background-size: cover;
            aspect-ratio: 1/1; /* 넓이와 높이 비율이 똑같은 설정 되는 값 */

            //   nth 노가다 코드

            // &:nth-child(1){
            //     background-image: url(../images/work01.jpg);
            // }
            // &:nth-child(2){
            //     background-image: url(../images/work02.jpg);
            // }
            // &:nth-child(3){
            //     background-image: url(../images/work03.jpg);
            // }
            // &:nth-child(4){
            //     background-image: url(../images/work04.jpg);
            // }
            // &:nth-child(5){
            //     background-image: url(../images/work05.jpg);
            // }
            // &:nth-child(6){
            //     background-image: url(../images/work06.jpg);
            // }
            // &:nth-child(7){
            //     background-image: url(../images/work07.jpg);
            // }
            // &:nth-child(8){
            //     background-image: url(../images/work08.jpg);
            // }

            //   for 반복문 사용 코드 : 1~8까지의 상대값 입력
            @for $i from 1 through 8 {
                &:nth-child(#{$i}) {
                    background-image: url(../images/work0#{$i}.jpg);
                }
                &:hover p {
                    display: block;
                }
            }
            p {
                display: none;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 255, 0.5);
                color: #eee;
                padding: 1rem;
            }
        }
    }
}






section#blog{
    h2 {
        font-size: 2rem;
        letter-spacing: 5px;
        @include tablet {
            width: 40%;
            text-align: left;
        }
    }
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            background-image: url(../images/blog0#{$i}.jpg);
        }
        &:hover p {
            display: block;
        }
    }
}
